<div class="wrapper--header">
  <header>
    <div class="header--main container">
      <div class="header--logo">
        <a href="" routerLink="">
          <img src="assets/img/Logo.png" alt="Company Logo">
        </a>
      </div>
      <div class="header--nav">
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Token Sale</a></li>
            <li><a href="#">FAQ’s</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </nav>
      </div>
      <div class="header--action">
        <button>
          Get in Touch
        </button>
      </div>
    </div>
  </header>
</div>
