<div class="wrapper--home ">

  <section class="wrapper--hero--section ">
    <app-header></app-header>
    <div class="wrapper--hero container">
      <div class="hero--text-block">
        <div class="hero--text-title">
          Own Your Crypto Adventure
        </div>
        <div class="hero--text-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </div>
        <div class="hero--text-action">
          <button>
            Get in Touch
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper---about--section">
    <div class="wrapper---about container">
      <div class="about-us--info--main">
        <div class="about-us--info">
          <div class="about-us--info--title">
            About Us
          </div>
          <div class="about-us--info--subtitle">
            Company Standarts
          </div>
          <div class="about-us--info--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </div>
        </div>
        <div class="about-us--statistics">
          <div class="about-us--statistics--child">
            <div class="about-us--statistics--title--child">
              10M<span class="last-char">+</span>
            </div>
            <div class="about-us--statistics--subtitle--child">
              User active
            </div>
          </div>
          <div class="about-us--statistics--child">
            <div class="about-us--statistics--title--child">
              30<span class="last-char">+</span>
            </div>
            <div class="about-us--statistics--subtitle--child">
              Country
            </div>
          </div>
          <div class="about-us--statistics--child">
            <div class="about-us--statistics--title--child">
              $50M<span class="last-char">+</span>
            </div>
            <div class="about-us--statistics--subtitle--child">
              Transaction
            </div>
          </div>
        </div>
      </div>
      <div class="about-us--logo">
        <img src="assets/img/coin.png" alt="">
      </div>
    </div>
  </section>
  <section class="wrapper--our-service--section">
  <div class="wrapper---our-service container">
    <div class="our-service--info--main">
      <div class="our-service--info--card--main">
        <div class="our-service--info--card--title--main">
          Our Services
        </div>
        <div class="our-service--info--card--subtitle--main">
          Our Services for You
        </div>
        <div class="our-service--info--card--description--main">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img.png" alt="arrow">
        </div>
        <div class="our-service--info--card--subtitle">
          Bitcoin Escrow Service
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img2.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Safe And Secure
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img3.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Integrated App
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img2.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Safe And Secure
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img3.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Safe And Secure
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
    </div>
  </div>
  </section>


  <section class="wrapper--our-token--section">
    <div class="wrapper--our-token container">
      <div class="our-token--info">
        <div class="our-token--info--title">
          Our Token
        </div>
        <div class="our-token--info--subtitle">
          Token seal
        </div>
        <div class="our-token--info--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
          aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
        </div>
      </div>
      <div class="our-token--info--card--main">
        <div class="our-token--info--card">
          <div class="our-token--info--card--title">
            <img src="assets/icons/ourtoken1.png" alt="">
          </div>
          <div class="our-token--info--card--subtitle">
            Enjoy The Profit
          </div>
          <div class="our-token--info--card--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent massa ullamcorper ultrices eu tortor...
          </div>
        </div>
        <div class="our-token--info--card">
          <div class="our-token--info--card--title">
            <img src="assets/icons/ourtoken2.png" alt="">
          </div>
          <div class="our-token--info--card--subtitle">
            Customer Support
          </div>
          <div class="our-token--info--card--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent massa ullamcorper ultrices eu tortor...
          </div>
        </div>
        <div class="our-token--info--card">
          <div class="our-token--info--card--title">
            <img src="assets/icons/ourtoken3.png" alt="">
          </div>
          <div class="our-token--info--card--subtitle">
            Confirmation
          </div>
          <div class="our-token--info--card--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent massa ullamcorper ultrices eu tortor...
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
