<div class="wrapper--home ">

  <section class="wrapper--hero--section ">
    <app-header></app-header>
      <div class="wrapper--hero container section  fade-in-section">
        <div class="hero--text-block">
          <div class="hero--text-title">
            Own Your Crypto Adventure
          </div>
          <div class="hero--text-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          </div>
          <div class="hero--text-action">
            <button>
              Get in Touch
            </button>
          </div>
        </div>
      </div>
  </section>

  <section class="wrapper---about--section section fade-in-section" >
    <div class="about-us--logo--tablet">
      <img src="assets/img/coin.png" alt="">
    </div>
    <div class="wrapper---about container">
      <div class="about-us--info--main">
        <div class="about-us--info">
          <div class="about-us--info--title">
            About Us
          </div>
          <div class="about-us--info--subtitle">
            Company Standarts
          </div>
          <div class="about-us--info--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </div>
        </div>
        <div class="about-us--statistics">
          <div class="about-us--statistics--child">
            <div class="about-us--statistics--title--child">
              10M<span class="last-char">+</span>
            </div>
            <div class="about-us--statistics--subtitle--child">
              User active
            </div>
          </div>
          <div class="about-us--statistics--child">
            <div class="about-us--statistics--title--child">
              30<span class="last-char">+</span>
            </div>
            <div class="about-us--statistics--subtitle--child">
              Country
            </div>
          </div>
          <div class="about-us--statistics--child">
            <div class="about-us--statistics--title--child">
              $50M<span class="last-char">+</span>
            </div>
            <div class="about-us--statistics--subtitle--child">
              Transaction
            </div>
          </div>
        </div>
      </div>
      <div class="about-us--logo">
        <img src="assets/img/coin.png" alt="">
      </div>
    </div>
  </section>

  <section class="wrapper--our-service--section section  fade-in-section" >
  <div class="wrapper---our-service container">
    <div class="our-service--info--main">
      <div class="our-service--info--card--main">
        <div class="our-service--info--card--title--main">
          Our Services
        </div>
        <div class="our-service--info--card--subtitle--main">
          Our Services for You
        </div>
        <div class="our-service--info--card--description--main">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img.png" alt="arrow">
        </div>
        <div class="our-service--info--card--subtitle">
          Bitcoin Escrow Service
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img2.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Safe And Secure
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img3.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Integrated App
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img2.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Safe And Secure
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
      <div class="our-service--info--card">
        <div class="our-service--info--card--title">
          <img src="assets/icons/img3.png" alt="">
        </div>
        <div class="our-service--info--card--subtitle">
          Safe And Secure
        </div>
        <div class="our-service--info--card--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="wrapper--our-token--section section  fade-in-section">
    <div class="wrapper--our-token container">
      <div class="our-token--info">
        <div class="our-token--info--title">
          Our Token
        </div>
        <div class="our-token--info--subtitle">
          Token seal
        </div>
        <div class="our-token--info--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
          aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
        </div>
      </div>
      <div class="our-token--info--card--main">
        <div class="our-token--info--card">
          <div class="our-token--info--card--title">
            <img src="assets/icons/ourtoken1.png" alt="">
          </div>
          <div class="our-token--info--card--subtitle">
            Enjoy The Profit
          </div>
          <div class="our-token--info--card--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent massa ullamcorper ultrices eu tortor...
          </div>
        </div>
        <div class="our-token--info--card">
          <div class="our-token--info--card--title">
            <img src="assets/icons/ourtoken2.png" alt="">
          </div>
          <div class="our-token--info--card--subtitle">
            Customer Support
          </div>
          <div class="our-token--info--card--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent massa ullamcorper ultrices eu tortor...
          </div>
        </div>
        <div class="our-token--info--card">
          <div class="our-token--info--card--title">
            <img src="assets/icons/ourtoken3.png" alt="">
          </div>
          <div class="our-token--info--card--subtitle">
            Confirmation
          </div>
          <div class="our-token--info--card--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent massa ullamcorper ultrices eu tortor...
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="wrapper--FAQ--section section  fade-in-section">
      <div class="wrapper--FAQ container">
        <div class="FAQ--info">
          <div class="FAQ--info--title">
            FAQ’s
          </div>
          <div class="FAQ--info--subtitle">
            Frequently Asked Questions
          </div>
          <div class="FAQ--info--description">
            When an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="FAQ--questions">
          <div class="FAQ--questions--card--main">
            <div *ngFor="let question of questions; let i = index" class="FAQ--questions--card" (click)="handleOpen(i)">
              <div class="FAQ--questions--card--title">
                <img [class.open]="isOpen[i]" class="FAQ--questions--card--open" src="assets/icons/open.png" alt="">
                {{ question.title }}
              </div>
              <div [class.open]="isOpen[i]" class="FAQ--questions--card--subtitle" *ngIf="isOpen[i]">
                {{ question.subtitle }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper--team--section section  fade-in-section">
      <div class="wrapper--team">

        <div class="team--info">
          <div class="team--info--title">
            Team
          </div>
          <div class="team--info--subtitle">
            Member of our expert team
          </div>
          <div class="team--info--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
            aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
          </div>
        </div>

        <div class="team--user--info--main">

          <div class="team--user--info">
            <div class="team--user--info--title">
              Hulon Anish
            </div>
            <div class="team--user--info--img">
              <img src="assets/img/team-man1.png" alt="">
              <img class="team--user--info--img-background" src="assets/img/back.png" alt="">
            </div>
            <div class="team--user--info--hover">
              <div class="team--user--info--icon--main--hover">
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/facebook.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/twitter.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/instagram.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/Linkendin.png" alt="#"></a>
                </div>
              </div>
              <div class="team--user--info--text--hover">
                <div class="team--user--info--title--hover">
                  Hulon Anish
                </div>
                <div class="team--user--info--description--hover">
                  Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                  In amet amet integer
                </div>
              </div>
            </div>
          </div>

          <div class="team--user--info">
            <div class="team--user--info--title">
              Crystal Ealy
            </div>
            <div class="team--user--info--img">
              <img src="assets/img/team-man2.png" alt="">
              <img class="team--user--info--img-background" src="assets/img/back.png" alt="">
            </div>
            <div class="team--user--info--hover">
              <div class="team--user--info--icon--main--hover">
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/facebook.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/twitter.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/instagram.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/Linkendin.png" alt="#"></a>
                </div>
              </div>
              <div class="team--user--info--text--hover">
                <div class="team--user--info--title--hover">
                  Crystal Ealy
                </div>
                <div class="team--user--info--description--hover">
                  Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                  In amet amet integer
                </div>
              </div>
            </div>
          </div>

          <div class="team--user--info">
            <div class="team--user--info--title">
              Zachary Cadiente
            </div>
            <div class="team--user--info--img">
              <img src="assets/img/team-woman3.png" alt="">
              <img class="team--user--info--img-background" src="assets/img/back.png" alt="">
            </div>
            <div class="team--user--info--hover">
              <div class="team--user--info--icon--main--hover">
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/facebook.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/twitter.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/instagram.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/Linkendin.png" alt="#"></a>
                </div>
              </div>
              <div class="team--user--info--text--hover">
                <div class="team--user--info--title--hover">
                  Zachary Cadiente
                </div>
                <div class="team--user--info--description--hover">
                  Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                  In amet amet integer
                </div>
              </div>
            </div>
          </div>

          <div class="team--user--info">
            <div class="team--user--info--title">
              Kelvin Powell
            </div>
            <div class="team--user--info--img">
              <img src="assets/img/team-man4.png" alt="">
              <img class="team--user--info--img-background" src="assets/img/back.png" alt="">
            </div>
            <div class="team--user--info--hover">
              <div class="team--user--info--icon--main--hover">
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/facebook.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/twitter.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/instagram.png" alt="#"></a>
                </div>
                <div class="team--user--info--icon--hover">
                  <a href="#"><img src="assets/icons/Linkendin.png" alt="#"></a>
                </div>
              </div>
              <div class="team--user--info--text--hover">
                <div class="team--user--info--title--hover">
                  Kelvin Powell
                </div>
                <div class="team--user--info--description--hover">
                  Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                  In amet amet integer
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  <section class="wrapper--blog--section section  fade-in-section">
    <div class="wrapper--blog container">

      <div class="blog--info">
        <div class="blog--info--title">
          Blog
        </div>
        <div class="blog--info--subtitle">
          Latest News & Blog
        </div>
        <div class="blog--info--description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
          aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
        </div>
      </div>

      <div class="blog--info--card--main">
        <div class="blog--info--card">
          <div class="blog--info--img">
            <img src="assets/img/bitcoinbg.png" alt="#">
          </div>
          <div class="blog--info--date">
            27 August, 2023
          </div>
          <div class="blog--info--underline">
            <img src="assets/img/underline.png" alt="">
          </div>
          <div class="blog--info--title">
            How to Launch Your Own
            Cryptocurrency
          </div>
          <div class="blog--info--action">
            <button>
              Read More
            </button>
          </div>
        </div>

        <div class="blog--info--card">
          <div class="blog--info--img">
            <img src="assets/img/bitcoinbg2.png" alt="#">
          </div>
          <div class="blog--info--date">
            27 August, 2023
          </div>
          <div class="blog--info--underline">
            <img src="assets/img/underline.png" alt="">
          </div>
          <div class="blog--info--title">
            The Rise of Cryptocurrency
            Mining in Education
          </div>
          <div class="blog--info--action">
            <button>
              Read More
            </button>
          </div>
        </div>

        <div class="blog--info--card">
          <div class="blog--info--img">
            <img src="assets/img/bitcoinbg3.png" alt="#">
          </div>
          <div class="blog--info--date">
            27 August, 2023
          </div>
          <div class="blog--info--underline">
            <img src="assets/img/underline.png" alt="">
          </div>
          <div class="blog--info--title">
            The Rise of Cryptocurrency
            Mining in Education
          </div>
          <div class="blog--info--action">
            <button>
              Read More
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>

    <section class="wrapper--start-now--section   section  fade-in-section">
      <div class="wrapper--start-now container">
        <div class="start-now--info--main">
          <div class="start-now--info">
            <div class="start-now--info--title">
              Start Now
            </div>
            <div class="start-now--info--subtitle">
              Sign up to learn more
            </div>
            <div class="start-now--info--description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In amet amet integer
            </div>
          </div>
          <div class="start-now--action">
            <button>
              Get in Touch
            </button>
          </div>
        </div>
        <div class="start-now--logo">
          <img src="assets/img/bitcoinbg4.png" alt="">
        </div>
      </div>
    </section>

  <app-footer class="section  fade-in-section"></app-footer>
</div>
