.wrapper--home {
  background: url("/assets/img/bg-circle.png") no-repeat 50% 100%;
  background: url("/assets/img/loop.png") no-repeat 100% 47%;
  background-size: auto;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .section.is-visible {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 1s forwards;
  }

  .wrapper--hero--section {
    min-height: 1000px;
    background: url("/assets/img/Bitcoin.png") no-repeat 15% 14%,
    url("/assets/img/LiteCoin.png") no-repeat 18% 80%,
    url("/assets/img/Etherium.png") no-repeat 75% 80%,
    url("/assets/img/Monero.png") no-repeat 82% 30%,
    url("/assets/img/star.png") no-repeat 20% 25%,
    url("/assets/img/star.png") no-repeat 82% 80%,
    url("/assets/img/star-2.png") no-repeat 82% 20%,
    url("/assets/img/circles.png") no-repeat 50% 64%,
    url("/assets/img/bgcenter.png") no-repeat 50% 30%,
    url("/assets/img/bgleft.png") no-repeat 5% -200%,
    url("/assets/img/bgright.png") no-repeat 100% 0%;

    background-size: 10%,
    10%,
    10%,
    10%,
    5%,
    5%,
    5%,
    auto,
    auto,
    auto,
    auto;

    &.animate {
      background: url("/assets/img/Bitcoin.png") no-repeat 15% 14%,
      url("/assets/img/LiteCoin.png") no-repeat 18% 80%,
      url("/assets/img/Etherium.png") no-repeat 75% 80%,
      url("/assets/img/Monero.png") no-repeat 82% 30%,
      url("/assets/img/star.png") no-repeat 20% 25%,
      url("/assets/img/star.png") no-repeat 82% 80%,
      url("/assets/img/star-2.png") no-repeat 82% 20%,
      url("/assets/img/circles.png") no-repeat 50% 64%,
      url("/assets/img/bgcenter.png") no-repeat 50% 30%,
      url("/assets/img/bgleft.png") no-repeat 5% 20%,
      url("/assets/img/bgright.png") no-repeat 100% 20%;

      background-size: 10%,
      10%,
      10%,
      10%,
      5%,
      5%,
      5%,
      auto,
      auto,
      auto,
      auto;

      animation: dropIn 1s forwards;
    }

    .wrapper--hero {
      min-height: 700px;
      display: flex;
      justify-content: center;

      .hero--text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 780px;
        min-height: 397px;

        .hero--text-title {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 85px;
          font-weight: 900;
          text-align: center;
          margin-bottom: 16px;
        }

        .hero--text-subtitle {
          max-width: 580px;
          height: 66px;
          color: rgb(206, 212, 218);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          margin-bottom: 32px;
        }

        .hero--text-action button {
          width: 186px;
          min-height: 62px;
          box-sizing: border-box;
          border-radius: 10px;
          background: linear-gradient(225.00deg, rgb(24, 200, 255) 18.272%, rgb(147, 63, 254) 89.228%);
          color: rgb(248, 249, 250);
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        button:hover {
          background: linear-gradient(225deg, rgb(147, 63, 254) 18.324%, rgb(24, 200, 255) 89.28%);
          transform: scale(1.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

  @media (max-width: 1200px) {
  .wrapper--hero--section {
    background-size:
      50%,
      50%,
      50%,
      50%,
      20%,
      20%,
      20%,
      50%,
      50%,
      50%,
      50%;
  }
}

@media (max-width: 992px) {
  .wrapper--hero--section {
    background-size:
      40%,
      40%,
      40%,
      40%,
      15%,
      15%,
      15%,
      40%,
      40%,
      40%,
      40%;
  }
}

@media (max-width: 768px) {
  .wrapper--hero--section {
    background-size:
      30%,
      30%,
      30%,
      30%,
      10%,
      10%,
      10%,
      30%,
      30%,
      30%,
      30%;
  }
  .hero--text-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 64px !important;
    font-weight: 900 !important;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .wrapper--hero--section {
    background-size:
      20%,
      20%,
      20%,
      20%,
      5%,
      5%,
      5%,
      20%,
      20%,
      20%,
      20%;
  }
  .hero--text-title {
    font-size: 48px !important;
  }
}



.wrapper---about--section {
  background: url("/assets/img/star.png") no-repeat 78% 97%;
  background-size: auto;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-us--logo--tablet {
    display: none;
  }

  .wrapper---about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 580px;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 203px;

    background: radial-gradient(90.43% 73.41% at 100% 106%, rgba(223, 29, 255, 0.5), rgba(72, 205, 255, 0) 100%),
    radial-gradient(103.31% 99.32% at -5% -17%, rgba(61, 165, 245, 0.5), rgba(62, 69, 238, 0) 100%),
    linear-gradient(-135deg, rgba(41, 46, 75, 0.38), rgba(41, 46, 75, 0.18) 100%, rgba(48, 58, 120, 0.5) 100%);

    .about-us--info--main {
      min-height: 207px;
      padding: 0 0 0 58px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .about-us--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 522px;
        height: 323px;

        .about-us--info--title {
          color: rgb(185, 130, 255);
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          text-align: left;
          margin-bottom: 4px;
        }

        .about-us--info--subtitle {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 50px;
          font-weight: 900;
          text-align: left;
          margin-bottom: 24px;
        }

        .about-us--info--description {
          color: rgb(233, 236, 239);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0%;
          text-align: left;
        }
      }

      .about-us--statistics {
        display: flex;
        width: 422px;
        height: 68px;
        justify-content: space-between;

        .about-us--statistics--child {
          .about-us--statistics--title--child {
            font-family: Inter;
            font-size: 28px;
            font-weight: 900;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            color: white;

            .last-char {
              color: rgb(185, 130, 255);
            }
          }

          .about-us--statistics--subtitle--child {
            color: rgb(185, 130, 255);
            font-family: Inter;
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }
    }

    .about-us--logo img {
      max-width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .wrapper---about--section {
    position: relative !important;
    margin-bottom: 290px;
  }

  .wrapper---about {
    width: 648px !important;
    height: 580px !important;

    .about-us--logo {
      position: absolute;
      width: 396px;
      height: 396px;
      top: 400px;
      right: -150px;
    }
  }

  .about-us--statistics--child {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .about-us--logo {
    display: none;
  }

  .about-us--logo--tablet {
    width: 396px !important;
    height: 396px !important;
    position: absolute !important;
    top: 400px !important;
    left: 440px !important;
    display: block !important;
    z-index: 100;
    margin-bottom: 72px !important;
  }

  .about-us--logo--tablet img {
    width: 396px !important;
    height: 396px !important;
  }
}

@media (max-width: 656px) {
  .wrapper---about--section {
    background: url(/assets/img/star.png) no-repeat 10% 80%;
  }

  .about-us--logo--tablet {
    top: 395px !important;
    left: 210px !important;
  }

  .about-us--logo--tablet img {
    width: 246px !important;
    height: 246px !important;
  }

  .wrapper---about {
    width: 343px !important;
    height: 404px !important;

    .about-us--info {
      width: 255px !important;
    }

    .about-us--info--main {
      padding: 0 0 0 24px !important;
      min-height: 407px !important;
    }

    .about-us--info--title {
      font-size: 20px !important;
      font-weight: 600 !important;
    }

    .about-us--info--subtitle {
      font-size: 32px !important;
      font-weight: 600 !important;
    }

    .about-us--info--description {
      width: 295px !important;
    }

    .about-us--statistics {
      width: 295px !important;
    }
  }
}


.wrapper--our-service--section {
  background: url("/assets/img/bgService.png") no-repeat right -18%;
  background-size: auto;
  .wrapper---our-service {
    .our-service--info--main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 684px;
      .our-service--info--card--main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        width: 380px;
        height: 272px;

        .our-service--info--card--title--main {
          color: rgb(185, 130, 255);
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          line-height: 130%;
          letter-spacing: 0%;
          text-align: left;
        }
        .our-service--info--card--subtitle--main {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 50px;
          font-weight: 900;
          line-height: 130%;
          letter-spacing: 0%;
          text-align: left;
        }
        .our-service--info--card--description--main {
          color: rgb(233, 236, 239);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0%;
          text-align: left;
        }
      }

      .our-service--info--card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 332px;
        height: 262px;
        border-radius: 25px;

        padding: 32px 24px;
        background: linear-gradient(180.00deg, rgba(223, 29, 255, 0.2),rgba(72, 205, 255, 0) 100%),linear-gradient(180.00deg, rgba(41, 46, 75, 0.38),rgba(48, 58, 120, 0.5) 100%);

        .our-service--info--card--title {

        }
        .our-service--info--card--subtitle {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 32px;
          font-weight: 600;
          line-height: 130%;
          letter-spacing: 0%;
          text-align: center;
        }

        .our-service--info--card--description {
          color: rgb(173, 181, 189);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .our-service--info--card--main {
    width: 314px !important;

  }

  .our-service--info--card--subtitle--main {
    font-size: 40px !important;
  }
  .wrapper---our-service {
    margin-bottom: 160px;
    .our-service--info--main {
      min-width: 100%;
      justify-content: center !important;
      align-items: center !important;

      gap: 20px !important;
      .our-service--info--card {
        width: 266px !important;
        height: 196px !important;
        .our-service--info--card--subtitle {
          font-size: 24px !important;
        }
      }
    }
  }
}

@media (max-width: 656px) {
  .our-service--info--main {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    max-width: 648px !important;
  }

  .our-service--info--card--main {
    width: 90% !important;
    min-height: 176px !important;
  }
}


.wrapper--our-token--section {
  background: url("/assets/img/backbit.png") no-repeat left 20%, url("/assets/img/bgService.png") no-repeat right 150%;
  background-size: auto, auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 737px;

  .wrapper--our-token {
    width: 100%;
    max-width: 1180px;
    min-height: 593px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .our-token--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 500px;
      height: 163px;

      .our-token--info--title {
        color: rgb(185, 130, 255);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
      }

      .our-token--info--subtitle {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 50px;
        font-weight: 900;
        text-align: left;
      }

      .our-token--info--description {
        color: rgb(233, 236, 239);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
    }

    .our-token--info--card--main {
      display: flex;
      width: 100%;
      justify-content: space-between;


      .our-token--info--card {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 10px;
        width: 380px;
        min-height: 330px;
        border-radius: 50px;

        background: radial-gradient(66.73% 87.80% at 10% -26%, rgba(223, 29, 255, 0.35), rgba(72, 205, 255, 0) 100%),
        radial-gradient(78.72% 98.68% at 112.99999999999999% 121%, rgba(62, 238, 227, 0.5), rgba(62, 69, 238, 0) 100%),
        linear-gradient(135.00deg, rgba(41, 46, 75, 0.23) 0%, rgba(37, 40, 58, 0.11) 100%, rgba(41, 46, 75, 0.11) 100%);

        .our-token--info--card--title {

        }

        .our-token--info--card--subtitle {
          color: rgb(233, 238, 244);
          font-family: Inter;
          font-size: 32px;
          font-weight: 600;
          text-align: center;
        }

        .our-token--info--card--description {
          color: rgb(232, 232, 232);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper--our-token {
    margin-bottom: 160px !important;
  }

  .our-token--info {
    margin-bottom: 60px;
  }
  .our-token--info--card--main{
    flex-wrap: wrap;
    justify-content: center !important;
  }
}


.wrapper--FAQ--section {

  .wrapper--FAQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 795px;
  }

  .FAQ--info {
    width: 100%;
    max-width: 713px;
    min-height: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .FAQ--info--title {
      color: rgb(185, 130, 255);
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 130%;
      margin-bottom: 4px;
    }

    .FAQ--info--subtitle {
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 50px;
      font-weight: 900;
      margin-bottom: 24px;
    }

    .FAQ--info--description {
      color: rgb(233, 236, 239);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .FAQ--questions {
    display: flex;
    width: 100%;
    max-width: 1180px;
    min-height: 532px;
    justify-content: center;

    .FAQ--questions--card--main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .FAQ--questions--card {
        width: 100%;
        max-width: 580px;
        min-height: 92px;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        margin-bottom: 20px;

        .FAQ--questions--card--title {
          position: relative;
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          text-align: left;

          .FAQ--questions--card--open {
            position: absolute;
            right: 0;
            top: 50%;
            transition: transform 0.3s ease;

            &.open {
              transform: rotate(45deg);
              top: 0;
            }
          }
        }

        .FAQ--questions--card--subtitle {
          margin-top: 20px;
          color: rgb(233, 236, 239);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .FAQ--info {
      margin-bottom: 100px;
      max-width: 90%;
    }

    .FAQ--questions {
      justify-content: center;
      max-width: 90%;
    }

    .FAQ--questions--card--main {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    .FAQ--info--subtitle {
      font-size: 36px;
    }

    .FAQ--questions--card {
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {
    margin-bottom: 100px;

    .FAQ--info {
      text-align: center;
    }

    .FAQ--questions--card {
      padding: 15px;
    }
  }
}

.wrapper--team--section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 929px;
  background:
    url("/assets/img/bg-gradient.png") no-repeat 0% 0%,
    url("/assets/img/money.png") no-repeat 100% 0;
  background-size:
    670px 600px,
    auto;
  .wrapper--team {
    width: 1180px;
    min-height: 529px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .team--info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      max-width: 678px;
      min-height: 163px;
      .team--info--title {
        color: rgb(185, 130, 255);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
      .team--info--subtitle {
        color: rgb(233, 238, 244);
        font-family: Inter;
        font-size: 50px;
        font-weight: 900;
        text-align: center;
      }
      .team--info--description {
        color: rgb(232, 232, 232);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
    }
    .team--user--info--main {
      gap: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .team--user--info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 280px;
        height: 266px;
        border-radius: 24px;
        background: radial-gradient(66.73% 87.80% at 10% -26%,rgba(223, 29, 255, 0.35),rgba(72, 205, 255, 0) 100%),
        radial-gradient(78.72% 98.68% at 112.99999999999999% 121%,rgba(62, 238, 227, 0.5),rgba(62, 69, 238, 0) 100%),
        linear-gradient(135.00deg, rgba(41, 46, 75, 0.23) 0%,rgba(37, 40, 58, 0.11) 100%,rgba(41, 46, 75, 0.11) 100%);
          &:hover{
            border-radius: 24px;
            background: rgb(185, 130, 255);
            cursor: pointer;
            transition-duration: 1s;
            .team--user--info--title {
              display: none;
            }

            .team--user--info--img {
              opacity: 0.4;
            }

            .team--user--info--hover {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              width: 200px;
              height: 196px;


              .team--user--info--icon--main--hover  {
                display: flex;
              }
              .team--user--info--text--hover {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 210px;
                height: 108px;
                .team--user--info--title--hover {
                  color: rgb(255, 255, 255);
                  font-family: Inter;
                  font-size: 20px;
                  font-weight: 600;
                  text-align: center;
                }
                .team--user--info--description--hover {
                  width: 210px;
                  color: rgb(233, 236, 239);
                  font-family: Inter;
                  font-size: 16px;
                  font-weight: 400;
                  text-align: center;
                }
              }

            }
          }
        .team--user--info--hover {
          position: absolute;
          display: none;
        }

        .team--user--info--title {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          text-align: left;
        }
        .team--user--info--img {
          width: 280px;
          height: 203.61px;
        }
        .team--user--info--img img{
          width: 280px;
          height: 203.61px;
        }

        .team--user--info--img-background {
          top: 62px;
          left: 0;
          position: absolute;
        }

        .team--user--info--text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .wrapper--team {
    min-height: 762px !important;
  }
}

@media (max-width: 600px) {
  .team--info {
    margin-bottom: 40px;
  }

  .wrapper--team {
    min-height: 762px !important;
  }
  .team--user--info--main {
    flex-direction: column;
    margin-bottom: 120px;

  }
}


.wrapper--blog--section {
  .wrapper--blog.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 717px;
    margin-bottom: 330px;
    .blog--info {
      max-width: 500px;
      min-height: 163px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .blog--info--title {

        color: rgb(185, 130, 255);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
      .blog--info--subtitle {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 50px;
        font-weight: 900;
        text-align: center;
      }
      .blog--info--description {
        color: rgb(233, 236, 239);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
    }
    .blog--info--card--main {
      gap: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .blog--info--card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 380px;
        min-height: 454px;
        .blog--info--img {
          margin-bottom: 16px;
          img {
            width: 380px;
            height: 258px;
          }
        }
        .blog--info--date {
          margin-bottom: 16px;
          color: rgb(226, 226, 226);
          font-family: Inter;
          font-size: 14px;
          font-weight: 600;
          text-align: left;
        }
        .blog--info--underline {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2px;
          margin-bottom: 16px;
        }
        .blog--info--title {
          color: rgb(240, 240, 240);
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 24px;
        }
        .blog--info--action {


          button {
            width: 161.59px;
            height: 52px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 13px 32px 13px 32px;
            flex: none;
            order: 1;
            flex-grow: 0;
            box-sizing: border-box;
            border-radius: 10px;
            background: linear-gradient(225.00deg, rgb(24, 200, 255) 18.324%,rgb(147, 63, 254) 89.28%);
            color: rgb(255, 255, 255);
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            cursor: pointer;
            transition: all 0.3s ease;
          }
          button:hover {
            background: linear-gradient(225deg, rgb(147, 63, 254) 18.324%, rgb(24, 200, 255) 89.28%);
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper--blog {
    min-height: 2159px !important;
    .blog--info--card--main {
      gap: 48px !important;


      .blog--info--img img{
        width: 648px !important;
        height: 439px !important;
      }
    }
  }
}

@media (max-width: 661px) {
  .wrapper--blog {
    min-height: 1362px !important;
    .blog--info {
      margin-bottom: 40px;
    }
    .blog--info--card--main {
      .blog--info--card {
        .blog--info--title{
          width: 266px;
        }
      }
      gap: 48px !important;
      .blog--info--img {
        width: 343px;
        height: 258px;
        img {
          width: 343px !important;
          height: 258px !important;
        }
    }
  }
  }
}

.wrapper--start-now--section {
  background-size: auto;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper--start-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 420px;
    box-sizing: border-box;
    border-radius: 50px;

    background: radial-gradient(90.43% 73.41% at 100% 106%, rgba(223, 29, 255, 0.5), rgba(72, 205, 255, 0) 100%),
    radial-gradient(103.31% 99.32% at -5% -17%, rgba(61, 165, 245, 0.5), rgba(62, 69, 238, 0) 100%),
    linear-gradient(-135deg, rgba(41, 46, 75, 0.38), rgba(41, 46, 75, 0.18) 100%, rgba(48, 58, 120, 0.5) 100%);
    margin-bottom: 300px;
    .start-now--info--main {
      min-height: 207px;
      padding: 0 0 0 88px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .start-now--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 329px;
        height: 117px;
        .start-now--info--title {
          color: rgb(185, 130, 255);
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          text-align: left;
          margin-bottom: 4px;
        }
        .start-now--info--subtitle {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 32px;
          font-weight: 600;
          text-align: left;
          margin-bottom: 16px;
        }
        .start-now--info--description {
          color: rgb(233, 236, 239);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0%;
          text-align: left;
        }
      }
      .start-now--action button{
        width: 186px;
        min-height: 62px;
        box-sizing: border-box;
        border-radius: 10px;
        background: linear-gradient(225deg, rgb(24, 200, 255) 18.272%, rgb(147, 63, 254) 89.228%);
        color: rgb(248, 249, 250);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;

      }
      button:hover {
        background: linear-gradient(225deg, rgb(147, 63, 254) 18.324%, rgb(24, 200, 255) 89.28%);
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .start-now--logo img {
      max-width: 100%;
      padding-bottom: 150px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper--start-now {
    width: 648px !important;
    height: 420px;
  }
}

@media (max-width: 600px) {
  .wrapper--start-now {
    width: 648px !important;
    height: 420px;
    padding: 10px !important;

    .start-now--info--main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px !important;


      .start-now--info {
        .start-now--info--title {
          text-align: center !important;
        }
        .start-now--info--subtitle {
          text-align: center !important;
        }
        .start-now--info--description {
          text-align: center !important;
        }
      }

    }

    .start-now--logo {
      display: none !important;
    }


  }
}

